<table (click)="disableContextMenu()" oncontextmenu="return false;">
  <tr>
    <th [attr.rowspan]="6" class="rotate"><span>{{getDate(assignment.assignmentDate)}}</span></th>
    <th>Classroom / Group</th>
    <th *ngFor="let group of groups">{{group.name}}</th>
  </tr>
  <tr *ngFor="let doubleLesson of doubleLessons">
    <th>{{doubleLesson.number}}</th>
    <th
      *ngFor="let group of groups"
      (contextmenu)="onRightClick($event, group, doubleLesson, getAssignment(doubleLesson, group))"
    >{{getAssignment(doubleLesson, group).classroom.number}}
    </th>
  </tr>
  <div *ngIf="contextmenu==true">
    <app-assignment-contextmenu
      [x]="contextmenuX"
      [y]="contextmenuY"
      [assignment]="selectedAssignment"
      [assignmentDate]="assignment.assignmentDate"
      [doubleLesson]="selectedDoubleLesson"
      (deleteAssignment)="onDeleteAssignment($event)"
      (getAvailableClassrooms)="onGetAvailableClassrooms($event)"
    ></app-assignment-contextmenu>
  </div>
</table>
