@import "variables";
@import "shared-styles";

.contextmenu-container{
  position: absolute;
}

.contextmenu {
  width: 165px;
  height: 55px;
  padding: 5px;
  background: $app-bright-blue;
  color: white;
  cursor: pointer;

  div:active {
    background: $app-mario-gold;
    color: black;
  }

  div:not(:first-child) {
    border-top: 1px solid white;
  }
}


