@import "variables";
@import "shared-styles";

.contextmenu-container{
  position: absolute;
}

.contextmenu {
  width: 60px;
  height: 30px;
  padding: 5px;
  background: $app-bright-blue;
  color: white;
  cursor: pointer;
}

.contextmenu:active {
  background: $app-mario-gold;
  color: black;
}
