<app-grid
  [items]="users.items"
  [expandable]="false"
  (onSortChange)="onSortChange($event)"
>
  <ng-template #gridHeadTemplate>
    <div class="d-flex w-100">
      <app-grid-head-cell class="col-3" sortName="firstName">First name</app-grid-head-cell>
      <app-grid-head-cell class="col-3" sortName="lastName">Last name</app-grid-head-cell>
      <app-grid-head-cell class="col-2" sortName="email">Email</app-grid-head-cell>
      <app-grid-head-cell class="col-2" sortName="role">Role</app-grid-head-cell>
      <app-grid-head-cell class=""></app-grid-head-cell>
    </div>
  </ng-template>
  <ng-template #gridRowTemplate let-item="item">
    <div class="d-flex w-100">
      <app-grid-row-cell class="col-3">{{ item.firstName }}</app-grid-row-cell>
      <app-grid-row-cell class="col-3">{{ item.lastName }}</app-grid-row-cell>
      <app-grid-row-cell class="col-2">{{ item.email }}</app-grid-row-cell>
      <app-grid-row-cell class="col-2">{{ item.role}}</app-grid-row-cell>
      <app-grid-row-cell class="d-flex justify-content-end">
        <div class="d-flex">
          <div class="edit-btn app-control-btn" (click)="onEditUser(item)">
            <fa-icon [icon]="pencilAltIcon"></fa-icon>
          </div>
          <div class="copy-btn app-control-btn" (click)="onResetPassword(item)">
            <fa-icon [icon]="undoIcon"></fa-icon>
          </div>
          <div class="remove-btn app-control-btn" (click)="onDeleteUser(item)">
            <fa-icon [icon]="trashIcon"></fa-icon>
          </div>
        </div>
      </app-grid-row-cell>
    </div>
  </ng-template>
</app-grid>
