@import "shared-styles";

.password-wrapper {
  position: relative;
  input {
    padding-right: 50px;
  }

  .generate-password-btn {
    cursor: pointer;

    span {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      border: none;
      color: $app-almost-black;
    }

    &:hover {
      opacity: .75;
    }
  }
}

.custom-footer {
  margin-top: 40px;
  margin-bottom: 60px;

  .btn {
    width: 115px;
    height: 36px;
  }

  .btn-outline-secondary {
    color: #000;
    border-color: $app-light-periwinkle;
  }
}

.white-background {
  background-color: white !important;
}
