<div class="modal-header">
  <h4 class="modal-header__wrapper">Reset Password</h4>
</div>
<div class="modal-body">
  <div class="container">
    <form [formGroup]="resetPasswordForm">
      <app-form-validation [validationElement]="resetPasswordForm.get('email')" [offset]="3">
        <div class="row mt-30px">
          <div class="col-3 modal-body__label-wrapper">
            <label for="email" class="app-login-input-label">Email</label>
          </div>
          <div class="col-9">
            <input type="email" readonly class="app-form-control app-error-border" placeholder="Email"
                   id="email"
                   formControlName="email">
          </div>
        </div>
      </app-form-validation>
      <app-form-validation [validationElement]="resetPasswordForm.get('password')" [offset]="3">
        <div class="row mt-30px">
          <div class="col-3 modal-body__label-wrapper">
            <label for="password" class="app-login-input-label mb-1">Password*</label>
          </div>
          <div class="col-9">
            <div class="password-wrapper">
              <input type="text" class="app-form-control app-error-border" placeholder="Password"
                     id="password"
                     formControlName="password">
              <div class="input-group-append generate-password-btn" (click)="generatePassword()">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">
                  <fa-icon [icon]="keyIcon"></fa-icon>
                </span>
              </div>
            </div>
          </div>
        </div>
      </app-form-validation>
      <div class="d-flex justify-content-between custom-footer">
        <button (click)="cancel()" class="btn btn-outline-secondary">Cancel</button>
        <button (click)="save()" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">Save</button>
      </div>
    </form>
  </div>
</div>
