@import "variables";
@import "shared-styles";

:host {
  margin-top: 60px;
}

.assignment-table-container {
  height: calc(700px - 4.25rem);
  overflow-x: scroll;
  overflow-y: scroll;
}

.header {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: -0.4px;
  color: #0a131c;
  margin-bottom: 1.250rem;
}
