@import "variables";

.navigation-bar {
  padding-top: 3.6875rem;
  padding-right: 30px;
}

.wrapper {
  flex: 1 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-right: 3.6875rem;
}

.page-container {
  min-width: $app-container-min-width;
}
