$app-error-color: #de1a1a;
$app-primary-button-color: #006bfd;
$app-very-light-blue: #e3e6ec;
$app-bright-blue: #006bfd;
$app-dark-blue: #0055cc;
$app-marine: #0a2463;
$app-primary-button-disabled: #80B5FE;
$app-almost-black: #0a131c;
$app-light-grey: #ededed;
$app-lightest-grey: #f3f3f4;
$app-light-periwinkle: #d4dae4;
$app-ice-blue: #edeff2;
$app-mario-gold: #ffc700;
$app-almost-white: #f7f7ff;
$app-snot-green: #a0bc00;
$app-success-color: #318700;

$app-container-min-width: 1280px;
